<h1>Bonjour!</h1>

<p>
    Voici le lien pour verifier votre email: <br><br>
    <a href="{{ signedUrl }}">Vérifier votre email</a>.
    le lien est valide pendant une durée de  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement!
</p>

<p>
    SnowTricks
</p>
