{% extends 'layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <main class="connection-reset">
        <div class="connection-title">
            <div class="connection-title-content">
                <h1>Reset votre password</h1>
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(requestForm, {'attr': {'class': 'connection-content'}}) }}
            <div id="email">
                {{ form_row(requestForm.email) }}
            </div>
            <div>
                <small>
                    Enter your email address, and we will send you a
                    link to reset your password.
                </small>
            </div>

            <button class="btn btn-primary">Send password reset email</button>
            {{ form_end(requestForm) }}
        </section>
    </main>
{% endblock %}
