li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-between;
  font-size: 22px;

  .header-picture img{
    width: 130px;
  }


  .navbar {
    margin-right: 30px;

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 5px;
        padding: 5px;
        border-right: solid black 2px;
      }
    }
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 50px;
  height: 700px;
  position: relative;
  box-shadow: rgba(20, 20, 37, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-top: cornflowerblue solid 5px;
  border-bottom: cornflowerblue solid 5px;

  div {
    display: flex;
    justify-content: center;

    p {
      width: 60%;
      padding: 30px;
      background-color: white;
      box-shadow: 0 0 0 4px;
      color: #6982ec;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

#scroll-down i {
  position: fixed;
  transform: translateX(50%);
  color: #251d1d;
  font-size: 34px;
  cursor: pointer;
  padding: 10px;
  top: 10%;
  left:96%;
}
#scroll-up i {
  position: fixed;
  transform: translateX(50%);
  color: #251d1d;
  font-size: 34px;
  cursor: pointer;
  padding: 10px;
  left:96%;
  top: 90%;
}



#portfolio {
  margin-top: 50px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  .card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 5px solid #6982ec;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    .card-image {
      height: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: #6982ec solid 5px;
      }
    }

    .card-content {
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-left: 20px;

      .card-header h4 {
        font-size: 20px;
        font-weight: bold;
      }

      .card-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 15px;
          color: #251d1d;
        }
      }
    }
  }
}


footer {
  display: flex;
  justify-content: center;
  border-top: cornflowerblue solid 2px;
  height: 50px;
  margin-top: 30px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.navbar-mobile {
  display: none;
}

/* singleTrick */
.intro-background {
  height: 150px;
}

.intro-background .intro-trick {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 50px;
  height: 1200px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(100, 149, 237);
}

.content {
  display: flex;

  justify-content: center;
}

.content #content-trick {
  width: 800px;
  background-color: #6982ec;
  border: cornflowerblue solid 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.content #content-trick .content-header {
  height: 720px;
  background-image: url("/public/uploads/medias/image/50_50_Grinds.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: #c1d5de solid 2px;
  display: flex;
  justify-content: flex-end;
}

.content #content-trick .content-header .content-trick-image--icon {
  background-color: aliceblue;
  border: cornflowerblue solid 2px;
  height: 50px;
}

.content #content-trick .content-header .content-trick-image--icon i {
  font-size: 20px;
}

.content-trick-image-title {
  position: relative;
  h1 {
    margin: 0;
    position: absolute;
    top: 50%;

    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.content #content-trick .content-trick-image-title h1 {
  background-color: aliceblue;
  font-size: 50px;
  border: cornflowerblue solid 2px;
}

.content #content-trick .content-description p {
  margin: 50px 0 20px 0;
  padding: 0 50px 0 50px;
}

.content #content-trick .content-information {
  display: flex;
  justify-content: center;
}

.content #content-trick .content-information div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  width: 20%;
  height: 50px;
  border: 2px solid black;
  background-color: aliceblue;
}

.content #content-trick .content-form {
  display: flex;
  justify-content: center;
}

.content #content-trick .content-form .content-form--content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70px;
  border-bottom: 2px solid aliceblue;
  border-top: 2px solid aliceblue;

  form {
    display: flex
  }

  #form-comment {
    height: 30px;
  }
}


.content #content-trick .content-comment-container .content-comment .content-comment-items .content-comment--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #251d1d;
  border-radius: 60px;
  margin: 20px;
  width: 5%;
}

.content #content-trick .content-comment-container .content-comment .content-comment-items .content-comment--icon i {
  color: aliceblue;
}

.content #content-trick .content-comment-container .content-comment .content-comment-items .content-comment--content {
  background-color: #e5dada;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%;
}

.content-description-scroll {
  overflow-y: scroll;
  border: 2px solid aliceblue;
  padding: 1%;
  margin: 100px 2% 2%;
}

.information-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-content .information-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 50px;
}

.information-content .information-actions #select-group {
  width: 100px;
  font-weight: bold;
}

.information-content .button-content {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  margin-left: 500px;
}

.information-content .button-content .delete button {
  width: 270px;
  height: 30px;
  background-color: #836f6f;
  font-weight: bold;
}

.information-content .button-content .save button {
  width: 70px;
  height: 30px;
  font-weight: bold;
}

.content-media {
  display: flex;
}

.content-media .media-tricks--modifier {
  width: 20%;
  margin: 1%;
}

.content-media .media-tricks--modifier .media-tricks-modifier-content {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.content-media .media-tricks--modifier .media-tricks-modifier-content img {
  width: 100%;
}

.content-media .media-tricks--modifier .media-tricks-modifier-content .media-item {
  width: 100%;
}

.content-media .media-tricks--modifier .modifier-icons {
  display: flex;
  justify-content: flex-end;
}

.content-media .media-tricks--modifier .modifier-icons .modifier-icons-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: aliceblue;
  width: 60px;
  height: 30px;
}

.content-media .media-tricks--modifier .modifier-icons .modifier-icons-content div {
  margin-right: 10px;
}

.content-media-tricks {
  height: 200px;
  padding: 10px;
  img, video {
    object-fit: cover;
    height: 100%;

  }
}


/* registration */

.connection-title {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.connection-title .connection-title-content {
  font-size: 40px;
}

.connection-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection-form .connection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid cornflowerblue;
  width: 40%;
  margin-bottom: 20px;
}

.connection-form .connection-content #user_name {
  border-bottom: 2px solid cornflowerblue;
  margin: 50px 0 20px 0;
}

.connection-form .connection-content #user_name label {
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.connection-form .connection-content #user_name input {
  border: transparent;
}

.connection-form .connection-content #email {
  border-bottom: 2px solid cornflowerblue;
  margin-bottom: 20px;
}

.connection-form .connection-content #email label {
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.connection-form .connection-content #email input {
  border: transparent;
}

.connection-form .connection-content #user_password {
  border-bottom: 2px solid cornflowerblue;
  margin-bottom: 20px;
}

.connection-form .connection-content #user_password label {
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.connection-form .connection-content #user_password input {
  border: transparent;
}

.connection-form .connection-content button {
  border: 2px solid #2a2121;
  background-color: cornflowerblue;
  margin: 20px 0 50px 0;
  height: 30px;
}
.delete {
  margin-right: 20px;
}
.save {
  margin-right: 20px;
}

.connection-form .link-login {
  display: none;
}

.connection-form .button-mobil {
  display: none;
}

.connection-form .button-reset button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 15px;
}

.connection-form .link-registration {
  display: none;
}

.connection-form .link-reset {
  margin: 20px 0 20px 0;
}

.information-widget {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  p {
    padding: 10px;
    background: aliceblue;
    border-radius: 5px;
    border: 2px solid black
  }
}
@media screen and (max-width: 1440px) {
  #portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro div p {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    font-size: 12px;
  }

  .intro div p {
    font-size: 22px;
  }

  #portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  #header,
  footer {
    display: none;
  }

  .navbar-mobile {
    display: block;
    border-top: cornflowerblue solid 5px;
    padding: 10px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      font-size: 40px;
      padding: 0;
    }
  }
  #portfolio {
    display: flex;
    flex-direction: column;
  }
  #portfolio .card .card-content .card-icons .icon {
    font-size: 20px;
  }

  .connection-form .connection-content {
    width: 90%;
  }

  .intro {
    margin: 0;

    div p {
      font-size: 16px;
    }
  }

  .connection-form .link-registration {
    display: block;
  }

  .information-widget {
    display: none;
  }
}
