{% extends 'layout.html.twig' %}
{% block main %}
    {# TODO: ce template renvoi un mail avec un lien sur le template reset password #}
    <main class="connection-reset">
        <div class="connection-title">
            <div class="connection-title-content">
                Forgot Password
            </div>
        </div>
        <section class="connection-form">
            {{ form_start(forgotPassword, {'attr': {'class': 'connection-content'}}) }}
            <div id="email">
                {{ form_row(forgotPassword.email, {'attr': {'id': 'email'}}) }}
            </div>
            <div class="button-laptop">
                <button type="submit">Ask for reset password</button>
            </div>
            <div class="button-mobil">
                <button type="submit">Ask for reset</button>
            </div>
            {{ form_rest(forgotPassword) }}
            {{ form_end(forgotPassword) }}
        </section>
    </main>
    {% include 'navbar-mobile.html.twig' %}
{% endblock %}
