{% extends 'layout.html.twig' %}
{% block main %}
    <main class="connection">
        <div class="connection-title">
            <div class="connection-title-content">
                Registration
            </div>
        </div>
        <section class="connection-form">
            <form class="connection-content">
                <div id="user_name">
                    <label for="name">Username</label>
                    <input type="text" id="name" name="user_name" />
                </div>
                <div id="email">
                    <label for="mail">Email</label>
                    <input type="email" id="mail" name="user_email" />
                </div>
                <div id="user_password">
                    <label for="userPassword">password</label>
                    <input id="userPassword" type="password" />
                </div>
                <div class="button">
                    <button type="submit">Create an account</button>
                </div>
                <div class="link-login"><a href="/single_trick">Already an account ?</a></div>
            </form>
        </section>
    </main>
    <div class="navbar-mobile">
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/single_trick"><i class="fa-solid fa-bookmark"></i></a></li>
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
            <!-- <li><i class="fa-solid fa-right-from-bracket"></i></li> -->
        </ul>
    </div>
{% endblock %}
