{% extends 'layout.html.twig' %}
{% block main %}
    <main>
        <section class="intro-background">
            <div class="intro-trick" style="background-image: url('../../PhpstormProjects/projet6/assets/img/surfeur.jpg');"></div>
        </section>
        <section class="content">
            <div id="content-trick">
                <div class="content-header" style="background-image: url('../../PhpstormProjects/projet6/assets/img/50 50 Grinds.png');">
                    <div class="content-trick-image-title">
                        <h1>
                            50/50 Grinds
                        </h1>
                    </div>
                    <div class="content-trick-image--icon">
                        <div id="pencil"><i class="fa-solid fa-pencil"></i></div>
                        <div id="trash-can"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                </div>
                <div class="content-media">
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <img src="../../PhpstormProjects/projet6/assets/img/50%2050%20Grinds.png" alt="surfer">
                            <div class="modifier-icons">
                                <div class="modifier-icons-content">
                                    <div><i class="fa-solid fa-pencil"></i></div>
                                    <div><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <img src="../../PhpstormProjects/projet6/assets/img/50%2050%20Grinds.png" alt="surfer">
                            <div class="modifier-icons">
                                <div class="modifier-icons-content">
                                    <div><i class="fa-solid fa-pencil"></i></div>
                                    <div><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <img src="../../PhpstormProjects/projet6/assets/img/50%2050%20Grinds.png" alt="surfer">
                            <div class="modifier-icons">
                                <div class="modifier-icons-content">
                                    <div><i class="fa-solid fa-pencil"></i></div>
                                    <div><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <video controls class="media-item">
                                <source src="/assets/media/50 50 Grinds easy snowboard.mp4" type="video/mp4">
                                Votre navigateur ne prend pas en charge la balise vidéo.
                            </video>
                            <div class="modifier-icons">
                                <div class="modifier-icons-content">
                                    <div><i class="fa-solid fa-pencil"></i></div>
                                    <div><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-tricks--modifier">
                        <div class="media-tricks-modifier-content">
                            <video controls class="media-item">
                                <source src="/assets/media/How to Boardslide a Snowboard   Beginner Guide.mp4"
                                        type="video/mp4">
                                Votre navigateur ne prend pas en charge la balise vidéo.
                            </video>
                            <div class="modifier-icons">
                                <div class="modifier-icons-content">
                                    <div><i class="fa-solid fa-pencil"></i></div>
                                    <div><i class="fa-solid fa-trash-can"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-expand">
                    <div class="media-expand-content">See medias</div>
                </div>
                <div class="information-content">
                    <div class="content-description-scroll">
                        <p>Omitto iuris dictionem in libera civitate contra leges senatusque consulta; caedes relinquo;
                            libidines praetereo, quarum acerbissimum extat indicium et ad insignem memoriam turpitudinis et
                            paene ad iustum odium imperii nostri, quod constat nobilissimas virgines se in puteos abiecisse
                            et
                            morte voluntaria necessariam turpitudinem depulisse. Nec haec idcirco omitto, quod non
                            gravissima
                            sint, sed quia nunc sine teste dico.

                            Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad
                            Mesopotamiam
                            missus a socero per militares numeros immodice scrutabatur, an quaedam altiora meditantis iam
                            Galli
                            secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus
                            Constantinopolim petit exindeque per protectores retractus artissime tenebatur.
                        </p>
                    </div>
                    <div class="information-actions">
                        <div class="select-group">
                            <select name="groups" id="select-group">
                                <option value="Group 1">Group 1</option>
                                <option value="Group 2">Group 2</option>
                                <option value="Group 3">Group 3</option>
                                <option value="Group 4">Group 4</option>
                            </select>
                        </div>
                        <div class="button-content">
                            <div class="delete">
                                <button>Delete</button>
                            </div>
                            <div class="save">
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="navbar-mobile">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/single_trick"><i class="fa-solid fa-bookmark"></i></a></li>
                <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                <!-- <li><i class="fa-solid fa-right-from-bracket"></i></li> -->
            </ul>
        </div>
    </main>
{% endblock %}
